doctype html
html(lang="zh")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Prompt

		link(rel="stylesheet", href="./style.min.css")
	body
		section.custom-prompt__container
			header
				h3.custom-prompt__title
			main
				input.custom-prompt__input
			footer.custom-prompt__confirm-btn
				button 确认
				button 取消
